.navbar-nav a {
    color: #fff;
    transition: color 0.3s ease;
    font-weight: bold;
  }
  
  .navbar-nav a:hover {
    color: #ffd700; /* Change the hover color as desired */
  }
  
  .navbar-toggler-icon {
    background-color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .navbar-toggler:hover .navbar-toggler-icon {
    background-color: #ffd700; /* Change the hover color as desired */
  }
  
  .navbar-nav .book-now-btn {
    background-color: #fff;
    color: #2196f3;
    border-radius: 5px;
    padding: 8px 15px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  }
  
  .navbar-nav .book-now-btn:hover {
    background-color: #4caf50;
    color: #fff;
    transform: scale(1.1);
  }
  
  /* Customize the logo size */
  .logo {
    width: 24px;
    height: 24px;
    margin-right: 5px; /* Adjust spacing between logo and text */
  }
  
  /* Cover Photo Section */
  .cover-photo-section {
    position: relative;
    overflow: hidden;
  }
  
  /* Cover Photo */
  .cover-photo {
    width: 100%;
    height: 600px; /* Adjust the height as needed */
    object-fit: cover;
  }
  
  /* Left Content (Button and Tagline) */
  .left-content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    color: #fff; /* Adjust text color */
    text-align: center;
  }
  
  /* CTA Button */
  .cta-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3498db; /* Adjust button background color */
    color: #000000; /* Adjust button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Tagline */
  .tagline {
    color: #000000;
    margin-top: 10px; /* Adjust spacing between button and tagline */
    font-size: 16px;
  }
  
  /* Add this style in your CSS file or within a style tag in your HTML */
  .about {
    background-color: #f8f9fa; /* Background color for the section */
    padding: 80px 0;
  }
  
  .section-title h2 {
    /* text-align: center;  */
    position: relative;
    display: inline-block;
    color: #343a40; /* Section title color */
  }
  
  .section-title h2::after {
    content: ""; /* Create an empty pseudo-element */
    display: block;
    position: absolute;
    bottom: -5px; /* Adjust the distance of the underline from the text */
    left: 50%; /* Center the underline */
    transform: translateX(-50%);
    width: 80px; /* Set the width of the underline */
    height: 4px; /* Set the height/thickness of the underline */
    background: linear-gradient(
      to right,
      #000000,
      #b51d21
    ); /* Gradient color for the underline */
  }
  
  .section-title h3 span {
    background-image: linear-gradient(to right, #000000, #ff0008);
    -webkit-background-clip: text; /* For WebKit (Chrome, Safari) browsers */
    color: transparent;
    background-clip: text; /* Standard property, will work in Firefox and future versions of other browsers */
  }
  
  .section-title p {
    font-size: 18px;
    color: #6c757d; /* Section description color */
  }
  
  .about img {
    border-radius: 8px; /* Rounded corners for the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for the image */
  }
  
  .content h3 {
    font-size: 28px;
    color: #343a40; /* Content title color */
  }
  
  .content p {
    font-size: 16px;
    color: #6c757d; /* Content text color */
  }
  
  section#footer {
    background: linear-gradient(
      to right,
      #3498db,
      #6dd5fa
    ); /* Gradient background */
    padding: 60px 0;
    margin-left: 0; /* Remove left margin */
    margin-right: 0; /* Remove right margin */
  }
  
  section#footer .section-title {
    text-align: center;
    color: #fff; /* Text color */
    margin-bottom: 50px;
    text-transform: uppercase;
  }
  
  #footer {
    padding: 30px 20px; /* Padding for the content */
    background-color: rgba(
      255,
      255,
      255,
      0.9
    ); /* Background color with opacity */
  }
  
  #footer h5 {
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #000000;
  }
  
  #footer a {
    color: #333333;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  
  #footer ul.social li {
    padding: 3px 0;
  }
  
  #footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    transition: 0.5s all ease;
  }
  
  #footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
  }
  
  #footer ul.social li a,
  #footer ul.quick-links li a {
    color: #000000;
  }
  
  #footer ul.social li a:hover {
    color: #000000;
  }
  
  #footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    transition: 0.5s all ease;
  }
  
  #footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
  }
  
  #footer ul.quick-links li a i {
    margin-right: 5px;
  }
  
  #footer ul.quick-links li:hover a i {
    font-weight: 700;
  }
  
  @media (max-width: 767px) {
    #footer h5 {
      padding-left: 0;
      border-left: transparent;
      padding-bottom: 0px;
      margin-bottom: 10px;
    }
  }
  .responsive-map {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 300px;
    width: 75%;
    background-color: #333;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
  }
  
  .responsive-map iframe {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }


  /* FAQ Start */
  /* body{margin-top:20px;} */
.section_padding_130 {
    padding-top: 130px;
    padding-bottom: 130px;
}
.faq_area {
    position: relative;
    z-index: 1;
    background-color: #f5f5ff;
}

.faq-accordian {
    position: relative;
    z-index: 1;
}
.faq-accordian .card {
    position: relative;
    z-index: 1;
    margin-bottom: 1.5rem;
}
.faq-accordian .card:last-child {
    margin-bottom: 0;
}
.faq-accordian .card .card-header {
    background-color: #ffffff;
    padding: 0;
    border-bottom-color: #ebebeb;
}
.faq-accordian .card .card-header h6 {
    cursor: pointer;
    padding: 1.75rem 2rem;
    color: #3f43fd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.faq-accordian .card .card-header h6 span {
    font-size: 1.5rem;
}
.faq-accordian .card .card-header h6.collapsed {
    color: #070a57;
}
.faq-accordian .card .card-header h6.collapsed span {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.faq-accordian .card .card-body {
    padding: 1.75rem 2rem;
}
.faq-accordian .card .card-body p:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 575px) {
    .support-button p {
        font-size: 14px;
    }
}

.support-button i {
    color: #3f43fd;
    font-size: 1.25rem;
}
@media only screen and (max-width: 575px) {
    .support-button i {
        font-size: 1rem;
    }
}

.support-button a {
    text-transform: capitalize;
    color: #2ecc71;
}
@media only screen and (max-width: 575px) {
    .support-button a {
        font-size: 13px;
    }
}
/* FAQ End */
.card {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.nav-tabs-custom .nav-item .nav-link.active {
  color: #6c6ff5;
}
.nav-tabs-custom .nav-item .nav-link {
  border: none;
}
.text-muted {
  color: #8ca3bd!important;
}
.nav-tabs-custom .nav-item {
  position: relative;
  color: #271050;
}
.nav-tabs-custom .nav-item .nav-link.active:after {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.nav-tabs-custom .nav-item .nav-link::after {
  content: "";
  background: #6c6ff5;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  -webkit-transition: all 250ms ease 0s;
  transition: all 250ms ease 0s;
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* footer */


/* footer */